{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    {
      "path": "@semantic-release/github",
      "assets": [
        "./artifacts/python-linux.zip",
        "./artifacts/python-windows.zip"
      ]
    }
  ]
}
