name: Publish to AUR

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  aur-push:
    runs-on: ubuntu-latest
    # Only run if SSH key is available
    if: ${{ secrets.AUR_SSH_PRIVATE_KEY != '' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@master
        with:
          pkgname: lib32-python311-bin
          pkgbuild: ./PKGBUILD
          commit_username: GitHub Actions
          commit_email: github-actions@github.com
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,ecdsa,ed25519
